body {
  text-align: center;
}

h1 {
  font-size: 24px;
}

#target-letter {
  font-size: 48px;
  margin: 50px 0;
}

#typed-letter {
  font-size: 24px;
  padding: 10px;
}

#score {
  font-size: 20px;
  margin-top: 20px;
}
